.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  margin-bottom: 16px;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns h3 {
  color: var(--heading-color, #2d73ae);
  font-size: var(--heading-font-size-l);
  font-weight: 500;
  margin-bottom: 8px;
}

.columns p {
  margin-top: 0;
  margin-bottom: 16px;
}

@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
